/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  letter-spacing: 0.25px;
}

/* common */
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.column {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

/* header */

header {
  padding: 1.25rem 4rem;
}

header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: cornflowerblue;
}

header a:hover {
  color: rgb(48, 47, 47);
}

header nav a {
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
  padding: 1rem;
  color: rgb(48, 47, 47);
}

header nav a:hover {
  color: cornflowerblue;
}

/* general */
form h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

form {
  padding: 0 2rem 2rem 2rem;
  max-width: 500px;
  margin: 0 auto;
}

input {
  padding: 1rem;
  width: 93%;
  margin: 0.5rem 0;
}

.signup-btn,
.login-btn {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: cornflowerblue;
  font-size: 1rem;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: rgb(57, 122, 243);
}

.banner {
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);

  padding: 3rem;
  text-align: center;
  color: white;
}

.banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  line-height: 1;
}

/* article  */
article {
  width: 70%;
  margin: 1rem;
}

.article-preview {
  padding: 1.5rem;
  border-bottom: 1px solid #aaa;
}

.article-preview img {
  width: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.article-info {
  font-size: 0.8rem;
  color: #aaa;
}
.article-info a {
  color: cornflowerblue;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  /* margin-bottom: 4px; */
}

.like-button {
  border: 1px solid cornflowerblue;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.like-button:hover {
  background-color: cornflowerblue;
  color: #fff;
  cursor: pointer;
}

.article-info-preview {
  text-decoration: none;
  color: #aaa;
}

.article-info-preview h1 {
  color: black;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.article-info-preview p {
  font-size: 1rem;
  font-weight: 100;
}

.article-bottom {
  margin-top: 1rem;
}

.article-bottom span {
  font-size: 0.9rem;
}

.tag-list li {
  font-weight: 300;
  color: #aaa;
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 0.25rem;
  border-radius: 1rem;
  margin: 0 2px;
}

.sidebar {
  width: 25%;
}

.parent-tags {
  padding: 1rem;
  width: 200px;
  background-color: #f3f3f3;
  /* color: #fff; */
}

.parent-tags p {
  margin-bottom: 0.5rem;
}

.parent-tags a {
  font-size: 0.9rem;
  text-decoration: none;
  background-color: #818a91;
  padding: 3px;
  margin: 3px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
}

.parent-tags a:hover {
  background-color: #636a6f;
}
